<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Modificar Salas</h1>
        </div>
        <div>
            <form action=" ">
                <div class="form-group">
                    <label for="">Capacidad</label>
                    <input type="text" class="form-control" [(ngModel)]="sala.capacidad" name="capacidad">

                </div>
                
                <div class="form-group">
                    <button (click) = "Actualizar()" class="btn btn-danger">Modificar</button>

                </div>

            </form>
        </div>

    </div>
</div>

